* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: lightgray;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

form{
    padding: 10px 30px;
    font-weight: 300;
}

form > input {
  background-color: none;
  border-width: 0 0 1px 0;
  width: 100%;
  border-color: #c9c7c7;
  height: 10px;
  border-style: solid;
  padding: 15px;
  margin: 20px 0 20px 0;
  font-weight: 300;
}

.Contenedor {
  border-radius: 10px;
  background-color: white;
  padding: 20px 20px 50px 20px;
  margin: 50px 10px;
  width: auto;
  box-shadow:1px 1px 15px #b2b1b1;
  
}

form > label {
  padding: 50px 0 0 0 ;
  margin-top: 20px;
  color:  #c9c7c7;
}

